<!-- <header class="fs-3 fw-bold d-flex justify-content-center">List of Food</header>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            Index
          </th>
          <th>
            Name
          </th>
          <th>
            Is-Veg
          </th>
          <th>
            Price
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foodItem of foodItems">
          <td>
            {{foodItem.foodId}}
          </td>
          <td>
            {{foodItem.name}}
          </td>
          <td>
            {{foodItem.isVeg}}
          </td>
          <td>
            {{foodItem.price}}
          </td>
          <td>
            <button class="btn bg-danger mx-2">
              Delete
            </button>
            <a class="btn bg-primary" [routerLink]="['/FoodItem/', foodItem.foodId]">
              View
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<router-outlet></router-outlet>