<div class="container fs-4 border border-1 rounded-2 p-3 mt-5">
    <div class="d-flex justify-content-between mb-3">
        <header class="fs-3 fw-bold d-flex justify-content-center">
            FoodItem
        </header>
        <div>
            <a class="btn text-white bg-primary" [routerLink]="['/Food/']">
                Back
            </a>
        </div>
    </div>
    @defer (when foodItem != null)
    {
    <div class="mt-3">
        <strong> Name : </strong>
        {{foodItem.name}}
    </div>
    <div class="mt-3">
        <strong> IsVeg : </strong>
        {{foodItem.isVeg}}
    </div>
    <div class="mt-3">
        <strong> Price : </strong>
        {{foodItem.price}}
    </div>
    <div class="mt-3">
        <!-- <a class="btn bg-primary text-white px-3 w-100"
            [routerLink]="['/Food/Edit/', foodItem.foodId]">
            Edit
        </a> -->
        <button class="btn bg-primary text-white px-3 w-100"
            (click)="navigateToEditPage(foodItem)">
            Edit
        </button>
    </div>
    }
</div>
